@keyframes flicker {
  0% {
    opacity: 0.2
  }

  25% {
    opacity: 1
  }

  50% {
    opacity: 0.2
  }

  100% {
    opacity: 1
  }
}

@keyframes cursor {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: .9em;
}

body {
  background: #0F0F0F;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1em;
  display:inline;
  font-weight: normal;
}

nav {
  display: inline;
}

.display-frame {
  border-radius: 6px;
  border: 2px solid rgb(9, 11, 9);
}

.display {
  width: 100%;
  height: 240px;
  display: inline-block;

  background-color: rgb(17 23 18);
  border-radius: 20px;

}

.display-content {
  padding: 20px;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  background-color: #141c14;
  position: relative;

  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  border-radius: 20px;

  perspective: 100px;

}

.display-content::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.15);
  animation: flicker 0.08s ease infinite;
  pointer-events: none;
  content: "";

}

.terminal-output,
a {
  color: rgba(125, 225, 125, 0.75);
  font-family: monospace;
  white-space: pre-wrap;
  text-shadow: 0 0 1px rgba(125, 225, 125, 0.5), 0 0 10px rgba(125, 250, 125, 1);
}

.terminal-output {
  width: 100%;
  border-radius: 20px;
  z-index: 1;
  position: relative;

}

.repl-line::before {
  content:">";
  display:"inline-block";
  padding-right:1em;
}

.cursor {
  animation: cursor .8s ease infinite;
}

@media screen and (min-width: 800px) {

  html,
  body {
    font-size: 1.2em;
  }

  .container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100vh;
  }

  .display {
    width: 800px;
    height: 600px;

    border-radius: 20px;
    border: 30px solid transparent;
    border-image-source: url(./bezel-transparent2.png);
    border-image-slice: 30 fill;
    border-image-outset: 0;
    overflow: hidden;

  }

  .display-frame {
    padding: 40px;
    background-color: rgb(17 23 18);
  }

  .display-content {
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    border-radius: 20px;
  }

}